node_modules
.env







# PORT=8181
# mongodb=mongodb+srv://kolleparajayanth:IcIudnxxLPKnzvcU@cluster1.bs9gu.mongodb.net/shop?retryWrites=true&w=majority&appName=Cluster1
# SECRET=Jayanth



# SMTP_USER=kolleparajayanth@gmail.com
# SMPT_PASSWORD=bezz ukpx krmf uzyn